<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Quelques réalisations</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--
        ==================================================
            Corps de la page
        ================================================== -->

<section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" >
                                <h2>
                                    <a href="https://www.algo.ski" target="_blank" class="text-primary">Algo.ski</a> 
                                </h2>
                                <p>
                                   Un Pojet concret, qui permet, en tant que propriétaire de chalet à la montagne, de connaitre le prix auquel vous devez mettre votre bien immobilier en fonction de la semaine et de la station pour optimiser le remplissage de votre bien et ainsi optimiser les gains.
                                   Pour se faire, un scraping (récupération de données) est réalisé sur toutes les plateformes de locations de biens immobiliers pour connaitre les prix de la station. Paiement en ligne pour accès à un dashboard.
                                </p>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" >
                                <%= image_tag("algo_ski.png") %>
                            </div>
                        </div>
                    </div>
                </div>
</section>

<section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" >
                                <%= image_tag("bonapio.png") %>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" >
                                <h2>
                                    <a href="http://www.bonap.io/" target="_blank" class="text-primary">Bonap.io</a> 
                                </h2>
                                <p>
                                   Un projet ambitieux qui vous permet de découvrir les meilleurs lieux "street food" et "bons plans" à proximité. Parfait si vous ne savez pas où manger à midi. Authentification par facebook, récupération des données des visiteurs. Un projet en phase d'essai et d'Alpha test. 
                                </p>
                            </div> 
                        </div>
                        
                    </div>
                </div>
</section>

<section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" >
                                <h2>
                                    <a href="http://labodessons.fr/" target="_blank" class="text-primary">Labo des Sons</a> 
                                </h2>
                                <p>
                                   Le Labo part d'un constat simple: Il n'y a pas de système facile de reservation de studio d'enregistrement à l'heure. Ils décident donc de mettre leur studio d'enregistrement avec une clé par digicode. Vous réservez votre créneau horaire, vous payez en ligne puis vous pouvez répéter tranquillement dans votre studio. Cela vous permet de ne pas avoir la pression de la location à la demie-journée.
                                </p>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" >
                                <%= image_tag("labodessons.png") %>
                            </div>
                        </div>
                    </div>
                </div>
</section>